*,*::after,*::before{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--color);


}

:root {
  --color: #dfe4ea;
  --primary: #58244D;
  --secondary: #332063;

  font-family: Roboto;
}