

.wrapper{
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-image: url("../public/About/banner-bg.png");
  background-position: top;

}




